/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
/* * LAYER 0: DEFAULT
 * ┌─────────────────────────────┐ ┌─────────────────────────────┐
 * │  B  │  L  │  D  │  C  │  V  │ |  J  │  Y  │  O  │  U  │  ,  │
 * │SFT/N│ALT/R│CTL/T│WIN/S│  G  │ |  P  │WIN/H│CTL/A│ALT/E│SFT/I│
 * │  X  │  Q  │  M  │  W  │  Z  │ |  K  │  F  │  '  │  ;  │  .  │
 * └──────────┐ TAB/3│ESC/2│ SPC │ │ RET │BSP/1│DEL/4│  ┌────────┘
 *            └──────────────────┘ └────────────────────┘
 *
 * LAYER 1: NUM
 * ┌─────────────────────────────┐ ┌─────────────────────────────┐
 * │  F1 │  F2 │  F3 │  F4 │  F5 │ │  F6 │  F7 │  F8 │  F9 │ F10 │
 * │SFT/1│ALT/2│CTL/3│WIN/4│  5  │ │  6  │WIN/7│CTL/8│ALT/9│SFT/0│
 * │ F11 │ F12 │ F13 │ F14 │ F15 │ │ F16 │ F17 │ F18 │ F19 │ F20 │
 * └──────────┐      │     │     │ │     │     │     │┌──────────┘
 *            └──────────────────┘ └──────────────────┘
 *
 * LAYER 2: SYM
 * ┌─────────────────────────────┐ ┌─────────────────────────────┐
 * │  !  │  @  │  #  │  $  │  %  │ │  ^  │  &  │  *  │  (  │  )  │
 * │SFT/?│ALT/-│CTL/+│WIN//│  =  │ │  |  │WIN/[│CTL/]│ALT/{│SFT/}│
 * │  `  │  _  │  ~  │  \  │  °  │ │  €  │  ß  │  ä  │  ö  │  ü  │
 * └──────────┐      │     │     │ │ SFT │     │     │┌──────────┘
 *            └──────────────────┘ └──────────────────┘
 *
 * LAYER 3: NAV
 * ┌─────────────────────────────┐ ┌─────────────────────────────┐
 * │     │ LCLK│ MCLK│ RCLK│ MB5 │ │ PSC │ HOME│ PGDN│ PGUP│ END │
 * │ SFT │ ALT │ CTL │ WIN │ MB4 │ │ INS │WIN/L│CTL/D│ALT/U│SFT/R│
 * │     │     │     │     │     │ │     │     │     │     │     │
 * └──────────┐      │     │     │ │     │     │     │┌──────────┘
 *            └──────────────────┘ └──────────────────┘
 *
 * LAYER 4: OTH
 * ┌────────────────────────────────┐ ┌─────────────────────────────┐
 * │ BT0  │ BT1 │  BT2 │  BT3 │ BT4 │ │     │     │     │     │     │
 * │SFT/B+│ALT/M│CTL/V-│WIN/V+│ BTCL│ │     │ WIN │ CTL │ ALT │ SFT │
 * │  BR- │ PREV │ PLAY│ NEXT │ BTCA│ │     │     │     │     │     │
 * └─────────────┐     │      │     │ │     │     │     │┌──────────┘
 *               └──────────────────┘ └──────────────────┘
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define UC_AE RA(Q)
#define UC_OE RA(P)
#define UC_UE RA(Y)
#define UC_SS RA(S)
#define UC_SECT LS(RA(S))
#define UC_DEG  LS(RA(SEMI))
#define UC_EURO RA(E)

/ {
    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp B             &kp L           &kp D        &kp C           &kp V        &kp J    &kp Y            &kp O         &kp U           &kp COMMA          &none
&none  &mt LEFT_SHIFT N  &mt LEFT_ALT R  &mt LCTRL T  &mt LEFT_WIN S  &kp G        &kp P    &mt RIGHT_WIN H  &mt RCTRL A   &mt LEFT_ALT E  &mt RIGHT_SHIFT I  &none
&none  &kp X             &kp Q           &kp M        &kp W           &kp Z        &kp K    &kp F            &kp SQT       &kp SEMICOLON   &kp PERIOD         &none
                                         &lt 3 TAB    &lt 2 ESCAPE    &kp SPACE    &kp RET  &lt 1 BACKSPACE  &lt 4 DELETE
            >;
        };

        num {
            bindings = <
&trans  &kp F1         &kp F2       &kp F3        &kp F4       &kp F5     &kp F6   &kp F7       &kp F8        &kp F9       &kp F10        &trans
&trans  &mt LSHIFT N1  &mt LALT N2  &mt LCTRL N3  &mt LWIN N4  &kp N5     &kp N6   &mt RWIN N7  &mt RCTRL N8  &mt RALT N9  &mt RSHIFT N0  &trans
&trans  &kp F11        &kp F12      &kp F13       &kp F14      &kp F15    &kp F16  &kp F17      &kp F18       &kp F19      &kp F20        &trans
                                    &trans        &trans       &trans     &trans   &trans       &trans
            >;
        };

        sym {
            bindings = <
&trans  &kp EXCL          &kp AT          &kp HASH        &kp DLLR        &kp PRCNT     &kp CARET    &kp AMPS       &kp ASTRK       &kp LPAR       &kp RPAR         &trans
&trans  &mt LSHIFT QMARK  &mt LALT MINUS  &mt LCTRL PLUS  &mt LWIN SLASH  &kp EQUAL     &kp PIPE     &mt RWIN LBKT  &mt RCTRL RBKT  &mt RALT LBRC  &mt RSHIFT RBRC  &trans
&trans  &kp GRAVE         &kp UNDER       &kp TILDE       &kp BSLH        &kp UC_DEG    &kp UC_EURO  &kp UC_SS      &kp UC_AE       &kp UC_OE      &kp UC_UE        &trans
                                          &trans          &trans          &trans        &trans       &trans         &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans          &mkp LCLK     &mkp MCLK  &mkp RCLK     &mkp MB5    &kp PRINTSCREEN  &kp HOME       &kp PAGE_DOWN   &kp PAGE_UP  &kp END           &trans
&trans  &kp LEFT_SHIFT  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_WIN  &mkp MB4    &kp INSERT       &mt RWIN LEFT  &mt RCTRL DOWN  &mt RALT UP  &mt RSHIFT RIGHT  &trans
&trans  &trans          &trans        &trans     &trans        &trans      &trans           &trans         &trans          &trans       &trans            &trans
                                      &trans     &trans        &trans      &trans           &trans         &trans
            >;
        };

        oth {
            bindings = <
&trans  &bt BT_SEL 0         &bt BT_SEL 1     &bt BT_SEL 2        &bt BT_SEL 3       &bt BT_SEL 4      &trans  &trans    &trans     &trans    &trans      &trans
&trans  &mt LSHIFT C_BRI_UP  &mt LALT K_MUTE  &mt LCTRL C_VOL_DN  &mt LWIN C_VOL_UP  &bt BT_CLR        &trans  &kp RWIN  &kp RCTRL  &kp RALT  &kp RSHIFT  &trans
&trans  &kp C_BRI_DN         &kp C_PREV       &kp C_PP            &kp C_NEXT         &bt BT_CLR_ALL    &trans  &trans    &trans     &trans    &trans      &trans
                                              &trans              &trans             &trans            &trans  &trans    &trans
            >;
        };
    };
};
